@page
@model NguyenCoffeeWeb.Pages.OnlineProducts.IndexModel
@{
}
<style>
    .setheight-img {
        height: 120px;
    }

    .TitleOnlineProduct{
        text-align:center;
        margin-bottom:50px;
        padding-top:-50px;
    }

    .product-image {
        width: 207px;
        height: 207px;
        object-fit: cover;
    }
</style>



<div class="container-fluid pt-5">
    <div class="container">
        <div class="TitleOnlineProduct">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Our Online Products</h4>
            <h1 class="display-4">Fresh & Organic Beans</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="input-group mb-3">
                        <input type="text" id="searchInput" class="form-control" placeholder="Search by name">
                        <button id="searchButton" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="productContainer">
            @foreach (var item in Model.Product.Take(4))
            {
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center ">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0 product-image " src="@Html.DisplayFor(modelItem => item.Image)" alt="">
                            <span style="margin-right:15px;" class="position-absolute top-0 end-0 bg-primary text-white p-2">@Html.DisplayFor(modelItem => item.UnitPrice)</span>
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-coffee service-icon"></i> @Html.DisplayFor(modelItem => item.ProductName)</h4>
                            <p class="m-0 description">
                                @item.Description
                            </p>
                            <div class=" align-content-center">

                                <a class="btn btn-primary" asp-page="./OnlineProductDetail" asp-route-id="@item.Id">View Detail</a> 

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="text-center">
    <button id="loadMoreBtn" class="btn btn-primary">Load More</button>

</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var descriptions = document.querySelectorAll('.description');
        descriptions.forEach(function (description) {
            var text = description.textContent;
            if (text.length > 200) {
                description.textContent = text.substring(0, 200) + '...';
            }
        });
    });
</script>
<script>
    var skip = 4; // Số sản phẩm đã hiển thị ban đầu
    var take = 4; // Số sản phẩm sẽ lấy thêm mỗi lần nhấn nút "Load More"

    document.getElementById("loadMoreBtn").addEventListener("click", function () {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "OnlineProducts/Index?handler=LoadMoreProducts&skip=" + skip + "&take=" + take, true);
        xhr.onload = function () {
            if (xhr.status >= 200 && xhr.status < 300) {
                var products = JSON.parse(xhr.responseText);
                var productContainer = document.getElementById("productContainer");
                products.forEach(function (product) {
                    var productHtml = `<div class="col-lg-6 mb-5">
                                                <div class="row align-items-center">
                                                    <div class="col-sm-5">
                                                        <img class="img-fluid mb-3 mb-sm-0 product-image" src="${product.image}" alt="">
                                                        <span style="margin-right:15px;" class="position-absolute top-0 end-0 bg-primary text-white p-2">${product.unitPrice}</span>
                                                            </div>
                                                    <div class="col-sm-7">
                                                        <h4><i class="fa fa-coffee service-icon"></i> ${product.productName}</h4>
                                                        <p class="m-0">${product.description}</p>
                                                            <a class="btn btn-primary" href="./OnlineProducts/OnlineProductDetail?id=${product.id}">View Detail</a>
                                                    </div>
                                                </div>
                                            </div>`;
                    productContainer.insertAdjacentHTML('beforeend', productHtml);
                });
                skip += take; // Tăng số sản phẩm đã hiển thị
            } else {
                console.error(xhr.statusText);
            }
        };
        xhr.send();
    });
</script>


<script>
    document.getElementById("searchButton").addEventListener("click", function () {
        var searchTerm = document.getElementById("searchInput").value.trim();
        if (searchTerm !== "") {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "OnlineProducts/Index?handler=SearchByName&name=" + searchTerm, true);
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    var products = JSON.parse(xhr.responseText);
                    console.log(products);
                    var productContainer = document.getElementById("productContainer");
                   productContainer.innerHTML = ""; // Clear previous search results
                    products.forEach(function (product) {
                        console.log(product);
                        var productHtml = `<div class="col-lg-6 mb-5">
                                                    <div class="row align-items-center">
                                                        <div class="col-sm-5">
                                                            <img class="img-fluid mb-3 mb-sm-0 product-image" src="${product.image}" alt="">
                                                            <span style="margin-right:15px;" class="position-absolute top-0 end-0 bg-primary text-white p-2">${product.unitPrice}</span>
                                                                </div>
                                                        <div class="col-sm-7">
                                                            <h4><i class="fa fa-coffee service-icon"></i> ${product.productName}</h4>
                                                            <p class="m-0">${product.description}</p>
                                                                <a class="btn btn-primary" href="./OnlineProducts/OnlineProductDetail?id=${product.id}">View Detail</a>
                                                        </div>
                                                    </div>
                                                </div>`;
                        productContainer.insertAdjacentHTML('beforeend', productHtml);
                    });
                    
                } else {
                    console.error(xhr.statusText);
                }
            };
            xhr.send();
        }
    });

    function displaySearchResults(products) {
       

       
            
       
    }
</script>