@page
@model NguyenCoffeeWeb.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    .setheight-img {
        height: 120px;
    }

    .container {
        height: 500px;
    }
        .detailscontainer{
        text-align:center;
    }
    dl.row {
    max-width: 800px; 
    margin: 0 auto; 
}
</style>
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="blog-carousel" class="carousel slide overlay-bottom" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active setheight-img">
                <img class="w-100" src="~/img//carousel-2.jpg" alt="Image">
            </div>
        </div>
    </div>
</div>
<div class="detailscontainer">
<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</div>