@page
@model NguyenCoffeeWeb.Pages.Customer.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    .setheight-img {
        height: 120px;
    }

    .container {
        height: 500px;
    }
</style>

<h1>Details</h1>
<div style="height:300px;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product Image
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetail[0].Quanlity)
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderDetail)
            {
                <tr>
                    <td>
                        <img src="@item.Product.Image" style="max-width: 100px; max-height:100px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice) VND
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Quanlity)
                    </td>
                    <td>
                        @(item.UnitPrice * item.Quanlity) VND
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>
